#transparency {
		text-align: center;
}

#controls span {
		padding-right: 2em;
		cursor: pointer;
}

#cubeContainer {
		-webkit-perspective: 800;
		-moz-perspective: 800px;
		-ms-perspective: 800;
		perspective: 800;
		-webkit-perspective-origin: 50% 100px;
		-moz-perspective-origin: 50% 100px;
		-ms-perspective-origin: 50% 100px;
		perspective-origin: 50% 100px;
		margin: 50px auto 20px auto;
		width: 450px;
		height: 400px;
}

#cubeContainer #spinner {
		position: relative;
		margin: 0 auto;
		height: 281px;
		width: 450px;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform-origin: 50% 100px 0;
		-moz-transform-origin: 50% 100px 0;
		-ms-transform-origin: 50% 100px 0;
		transform-origin: 50% 100px 0;
		-webkit-transition: all 1.0s ease-in-out;
		-moz-transition: all 1.0s ease-in-out;
		-ms-transition: all 1.0s ease-in-out;
		transition: all 1.0s ease-in-out;
}

#cubeContainer #Ycube,
#cubeContainer #Zcube {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		transform-style: preserve-3d;
}

#cubeContainer .face {
		position: absolute;
		height: 281px;
		width: 450px;
		padding: 0px;
}

#spinner .one {
		-webkit-transform: translateZ(225px);
		-moz-transform: translateZ(225px);
		-ms-transform: translateZ(225px);
		transform: translateZ(225px);
}

#spinner .two {
		-webkit-transform: rotateY(90deg) translateZ(225px);
		-moz-transform: rotateY(90deg) translateZ(225px);
		-ms-transform: rotateY(90deg) translateZ(225px);
		transform: rotateY(90deg) translateZ(225px);
}

#spinner .three {
		-webkit-transform: rotateY(180deg) translateZ(225px);
		-moz-transform: rotateY(180deg) translateZ(225px);
		-ms-transform: rotateY(180deg) translateZ(225px);
		transform: rotateY(180deg) translateZ(225px);
}

#spinner .four {
		-webkit-transform: rotateY(-90deg) translateZ(225px);
		-moz-transform: rotateY(-90deg) translateZ(225px);
		-ms-transform: rotateY(-90deg) translateZ(225px);
		transform: rotateY(-90deg) translateZ(225px);
}

.trans {
		opacity: 0.8;
}